<h1><%= @page_title %></h1>

<p>"No, thank ye, Bunger," said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once, and that has satisfied me. There would be great glory in killing him, I know that; and there is a ship-load of precious sperm in him, but, hark ye, he's best let alone; don't you think so, Captain?"&mdash;glancing at the ivory leg.</p>

<p>"He is. But he will still be hunted, for all that. What is best let alone, that accursed thing is not always what least allures. He's all a magnet! How long since thou saw'st him last? Which way heading?"</p>

<p>"Bless my soul, and curse the foul fiend's," cried Bunger, stoopingly walking round Ahab, and like a dog, strangely snuffing; "this man's blood&mdash;bring the thermometer!&mdash;it's at the boiling point!&mdash;his pulse makes these planks beat!&mdash;sir!"&mdash;taking a lancet from his pocket, and drawing near to Ahab's arm.</p>
